$color1: #00d6d6;
$color2: #c6f6f6;
$color3: #ebffff;
$color4: #00b3b3;
$grey: #DBDBDB;
$light-grey: #fafafa;
$shadow-color: #2e2e2e;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}